@import "variables";
@import "functions";

@mixin caption-1 {
  font-size: rem(30px);
}

@mixin caption-2 {
  font-size: rem(20px);
}

@mixin text-1 {
  font-size: rem(20px);
}

@mixin text-2 {
  font-size: rem(16px);
}
