@import "variables";
@import "functions";
@import "fonts";
@include font-face("Roboto", "/fonts/Roboto/Roboto-Regular", 400, normal);

:root {
  --color-main-brand: #{$color-main-brand};
  --color-black: #{$color-black};
  --color-white: #{$color-white};
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: $color-black-var;
  font-weight: 400;

  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
